<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splitpaymentapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitPaymentApp">
        <activity
            android:name=".view.AddUsersActivity"
            android:exported="false" />
        <activity android:name=".view.PayDetailsPop">
            android:theme="@style/AppCompat.pop">
        </activity>
        <activity android:name=".view.ReceiptRelationPop">
            android:theme="@style/AppCompat.pop">
        </activity>
        <activity
            android:name=".view.DetailedSplitActivity"
            android:exported="false" />
        <activity
            android:name=".view.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".view.ReceiptDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.EqualPayActivity"
            android:exported="false" />
        <activity android:name=".view.PaymentActivity" />
        <activity
            android:name=".view.GroupActivity"
            android:exported="false" />
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.RegisterActivity" />
        <activity
            android:name=".view.MainActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask" />
    </application>

</manifest>